<footer>
  <div class="footer-content">
    <div class="footer-logo">
      <span>GlassNotes</span>
    </div>
    <p class="copyright">&copy; 2026 Petr Cafourek. All rights reserved.</p>
  </div>
</footer>
